<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>div 이용</title>
</head>

<body>
    <!-- HTML 표준은 준수 -->
    <div id="wrapper">
        <div id="header">
            <h1>Logo</h1>
            <h2>menu</h2>
        </div>
        <div id="content">
            <div>
                <h2>Sub Menu</h2>
            </div>
            <div>
                <h2>Main Menu</h2>
            </div>
        </div>
        <div id="footer">
            <h2>footer</h2>
        </div>
    </div>
</body>

</html>