<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>시멘틱 태그 이용</title>
</head>

<body>
    <!-- HTML5 Semantic 태그 이용 -->
    <!-- 사이트가 검색되는데 용이함 -->
    <div id="wrapper">
        <header>
            <h1>Logo</h1>
            <h2>menu</h2>
        </header>
        <main>
            <aside>
                <h2>Sub Menu</h2>
            </aside>
            <section>
                <h2>Main Menu</h2>
                <article>
                    <h3>article title 1</h3>
                    <p>article contents 1</p>
                </article>
                <article>
                    <h3>article title 2</h3>
                    <p>article contents 2</p>
                </article>
            </section>
        </main>
        <footer>
            <h2>footer</h2>
        </footer>
    </div>
</body>

</html>